.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.fieldset {
  border-radius: 10px;
  margin-bottom: 40px;
}

.inputsWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  gap: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 18px;
}

.button {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.timerContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  padding: 0 10px;
}

.timerTitle {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.timerBar {
  height: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  span {
    display: block;
    height: 100%;
    width: 0;

    background-color: #9AD88F;
    border-radius: inherit;
    transition: width 1s linear;
  }
}
